extends layout

block content
  div.container-fluid(ng-app="profileApp")
    div
      h1= title
      p Welcome to #{title}

    section#bio(ng-controller="OscarDataController")
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Bio
          article#user_dets.details
            div.page-header
              h1 {{oscarData.firstName}} {{oscarData.lastName}}
              div
                span#email {{oscarData.email}}
                p#date Last Updated on:  {{date}}
              div#profiles
                div
                  div
                    a.btn.btn-social-icon.btn-github(href="{{oscarData.githubUrl}}")
                      i.fa.fa-github
                  div
                    a.btn.btn-social-icon.btn-twitter
                      i.fa.fa-twitter

    section#github_details
      div.row
        div.jumbotron.lighter-blue
          div(ng-controller="OriekenGithubController")

          div(ng-controller="OriekenGithubReposController")
            div {{  }}
            div(ng-repeat="repo in orieken_repos")
              div {{ repo.name }} - {{ repo.language }}




    section#skills(ng-controller="ChartDataController")
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Skills NG
          highchart#chart1.charter(config="chartConfig")

    section(ng-controller="OscarDataController")
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Experience
          div(ng-repeat="job in oscarData.experience")
            div.panel.panel-default
              div.panel-heading
                h3.panel-title {{ job.companyName }}
                  small {{ job.techSpace }}
              div.panel-body.ex-panel-body
                div
                  span {{ job.details }}
                div.col-md-12
                  div
                    span {{ job.fullDetails }}
                  ul.experience_tech
                    li(ng-repeat="technology in job.technologies")
                      div.col-md-3
                        img.border(src="images/{{technology.techIcon}}")
                        span {{ technology.techName }}

    section#chart_area
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Skills JS
          div#chart_container.charter


    section#links
      div.row
        div.col-xs-4
          div.box.light-blue
          div.box.orange
          div.box.lighter-blue
          div.box.red
        div.col-xs-4
        div.col-xs-4