extends layout

block content
  div.container-fluid(ng-app="profileApp")
    div
      h1= title
      p Welcome to #{title}
    section
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Skills JS
          div#chart_container.charter
    section(ng-controller="ChartDataController")
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Skills NG
          highchart#chart1.charter(config="chartConfig")

    section(ng-controller="OscarDataController")
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Experience
          div.panel-group#exp_accordion
            div.panel.panel-default
              div.panel-heading
                div(ng-repeat="job in oscarData.experience")
                  div
                    div
                      h4 {{job.companyName}}
                    div
                      div {{job.details}}
                      ul(ng-repeat="tech in job.technologies")
                        li {{tech.techName}}

    section
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Home
    section
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Training
    section
      div.row
        div.jumbotron.lighter-blue
          div
            h4.text-center Contact
          div

    section(ng-controller="OscarDataController")
      div.row
        div.jumbotron.lighter-blue
          h4.text-center Bio
          article#user_dets.details
            div.page-header
              h1 {{oscarData.firstName}} {{oscarData.lastName}}
              div
                span#email {{oscarData.email}}
                p#date Last Updated on:  {{date}}
              div#profiles
                div
                  div
                    a.btn.btn-social-icon.btn-github(href="{{oscarData.githubUrl}}")
                      i.fa.fa-github
                  div
                    a.btn.btn-social-icon.btn-twitter
                      i.fa.fa-twitter

    section
      div.row
        div.col-xs-4
          div.box.light-blue
          div.box.orange
          div.box.lighter-blue
          div.box.red
        div.col-xs-4
        div.col-xs-4

  script(src='javascripts/chart/reg.js')
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="http://code.highcharts.com/highcharts-more.js")
  script(src="http://code.highcharts.com/modules/exporting.js")
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
  script(src='bower_components/highcharts-ng/dist/highcharts-ng.js')
  script(src='javascripts/chart/app.js')
  script(src='javascripts/chart/chartDataController.js')
  script(src='javascripts/chart/oscarDataController.js')

