doctype html
html
  head
    title orieken-ng
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      nav.navbar.navbar-fixed-top.navbar-embossed.navbar-default(role='navigation')
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target=".navbar-ex1-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar

        div.collapse.navbar-collapse.navbar-ex1-collapse
          ul#nav.nav.navbar-nav
            li
              a(href="#home") Home
            li
              a(href="#bio") Bio
            li
              a(href="#experience") Experience
            li
              a(href="#chart_area") Skills
            li
              a(href="#skills") Skills
            li
              a(href="#training") Training
            li
              a(href='#contact') Contact
            li
              a(href='#links') Playground

    block content
    footer
      script(src='javascripts/chart/reg.js')
      script(src="https://code.highcharts.com/highcharts.js")
      script(src="https://code.highcharts.com/highcharts-more.js")
      script(src="https://code.highcharts.com/modules/exporting.js")
      script(src='bower_components/angular/angular.js')
      script(src='bower_components/angular-route/angular-route.js')
      script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
      script(src='bower_components/highcharts-ng/dist/highcharts-ng.js')
      script(src='javascripts/chart/app.js')
      script(src='javascripts/chart/chartDataController.js')
      script(src='javascripts/chart/oscarDataController.js')

